force-app/main/default/flows/Admissions_Review_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Calls an action to send an email if no application render method assignment records with populated Application Render Methods related to the Individual Application Task from GetIndividualApplicationTask are found.</description>
        <name>SendErrorEmailNoApplicationRenderMethodAssignmentFound</name>
        <label>Send Error Email</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayConfigError</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No Valid Application Render Method Assignments Found for Application Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>There was an error in the Admissions: Review Application flow. No valid application render method assignment records could be found with a populated application render method value and related to the individual application task record with an id of {!GetIndividualApplicationTask.Id}.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to send an email if no individual application task records related to the application review are found.</description>
        <name>SendErrorEmailNoIndividualApplicationTaskFound</name>
        <label>Send Error Email</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ScreenDisplayConfigError</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No Individual Application Task Found for Application Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>There was an error in the Admissions: Review Application flow. No individual application task records could be found related to the application review record with an id of {!GetApplicationReview.Id}.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the FaultObject variable to application render method.</description>
        <name>SetFaultObjectApplicationRenderMethod</name>
        <label>Set Fault Object</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FaultObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>application render method</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayGetOrUpdateError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the FaultObject variable to application review.</description>
        <name>SetFaultObjectApplicationReview</name>
        <label>Set Fault Object</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FaultObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>application review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayGetOrUpdateError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the FaultObject variable to individual application task.</description>
        <name>SetFaultObjectIndividualApplicationTask</name>
        <label>Set Fault Object</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FaultObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>individual application task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayGetOrUpdateError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the FaultObject variable to Omniscript process.</description>
        <name>SetFaultObjectOmniscriptProcess</name>
        <label>Set Fault Object</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>FaultObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omniscript process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayGetOrUpdateError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the FaultObject variable to updated application review.</description>
        <name>SetFaultObjectUpdatedApplicationReview</name>
        <label>Set Fault Object</label>
        <locationX>1106</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>FaultObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>updated application review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayGetOrUpdateError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the value of the RenderMethodName variable with the Method Name in the application render method from GetApplicationRenderMethodAssignment.</description>
        <name>SetRenderMethodName</name>
        <label>Set Render Method Name</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RenderMethodName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetApplicationRenderMethodAssignment.ApplicationRenderMethod.MethodName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenCollectRubricScoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the value of the RenderMethodName variable by concatenating the Method Type, Method Subtype, and Method Language values from the Omniscript Process record from GetOmniscriptProcess.</description>
        <name>SetRenderMethodNameFromOmniscriptProcess</name>
        <label>Set Render Method Name</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>RenderMethodName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GetOmniscriptProcess.Type}_{!GetOmniscriptProcess.SubType}_{!GetOmniscriptProcess.Language}_{!GetOmniscriptProcess.VersionNumber}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenCollectRubricScoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the score variable value using the score field of ApplicationReview from GetApplicationReview.</description>
        <name>SetScoreFromApplicationReview</name>
        <label>Set Score</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetApplicationReview.Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenCollectApplicationReview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the score to the value of the score field on ApplicationReview from GetUpdatedApplicationReview.</description>
        <name>SetScoreFromUpdatedApplicationReview</name>
        <label>Set Score</label>
        <locationX>578</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUpdatedApplicationReview.Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenCollectApplicationReview</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the email address where error messages should be sent to. Replace this address with a valid email address.</description>
        <name>ErrorEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error@email.com.invalid</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text for the screen heading.</description>
        <name>Heading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Reviews</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether an application render method assignment record exists by checking the Application Render Method Assignment from GetApplicationRenderMethodAssignment.</description>
        <name>HaveApplicationRenderMethodAssignment</name>
        <label>Have Application Render Method Assignment?</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>SendErrorEmailNoApplicationRenderMethodAssignmentFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasApplicationRenderMethodAssignment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationRenderMethodAssignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetApplicationRenderMethodAssignment.ApplicationRenderMethod.MethodRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetApplicationRenderMethodAssignment.ApplicationRenderMethod.MethodName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaveRenderMethodID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an application review record was found by checking the Application Review from GetApplicationReview.</description>
        <name>HaveApplicationReview</name>
        <label>Have Application Review?</label>
        <locationX>1716</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayNoReviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasApplicationReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationReview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaveApplicationReviewScore</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if ApplicationReview from GetApplicationReview has a value for its Score field.</description>
        <name>HaveApplicationReviewScore</name>
        <label>Have Application Review Score?</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetIndividualApplicationTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasApplicationReviewScore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationReview.Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetScoreFromApplicationReview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether individual application task records were found by checking if the Individual Application Task from GetIndividualApplicationTask record exists.</description>
        <name>HaveIndividualApplicationTask</name>
        <label>Have Individual Application Task?</label>
        <locationX>1436</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SendErrorEmailNoIndividualApplicationTaskFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasIndividualApplicationTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndividualApplicationTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetApplicationRenderMethodAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the application render method from GetApplicationRenderMethodAssignment is referencing a file-based Omniscript or a record-based Omniscript by checking for a Render Method ID value.</description>
        <name>HaveRenderMethodID</name>
        <label>Have Render Method ID?</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>SetRenderMethodName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasRenderMethodId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationRenderMethodAssignment.ApplicationRenderMethod.MethodRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOmniscriptProcess</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Stores the picklist choice set used in the ScreenCollectApplicationReview screen. The object is set to Application Review, the data type is set to Picklist, and the field is set to ApplicationRecommendation.</description>
        <name>ChoiceApplicationReviewRecommendation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApplicationRecommendation</picklistField>
        <picklistObject>ApplicationReview</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Admissions: Review Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admissions: Review Applications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the application render method assignment record with an Application Component ID matching the Application Stage Definition ID of IndividualApplicationTask from GetIndividualApplicationTask. Stores the result in the Application Render Method Assignment from GetApplicationRenderMethodAssignment record variable.</description>
        <name>GetApplicationRenderMethodAssignment</name>
        <label>Get Application Render Method Assignment</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveApplicationRenderMethodAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetFaultObjectApplicationRenderMethod</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationComponentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIndividualApplicationTask.ApplicationStageDefinition.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplnRenderMethodAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the user&apos;s application review record with an Application ID that matches the recordId passed into the flow. Stores the result in the Application Review from GetApplicationReview.</description>
        <name>GetApplicationReview</name>
        <label>Get Application Review</label>
        <locationX>1716</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveApplicationReview</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetFaultObjectApplicationReview</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>individualApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationReview</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the individual application task record with an Application Review ID that matches the ApplicationReview from GetApplicationReview. Stores the result in the Individual Application Task from GetIndividualApplicationTask record variable.</description>
        <name>GetIndividualApplicationTask</name>
        <label>Get Individual Application Task</label>
        <locationX>1436</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveIndividualApplicationTask</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetFaultObjectIndividualApplicationTask</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationReviewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationReview.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplicationTask</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Omniscript process record for the application render method from GetApplicationRenderMethodAssignment.</description>
        <name>GetOmniscriptProcess</name>
        <label>Get Omniscript Process</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRenderMethodNameFromOmniscriptProcess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetFaultObjectOmniscriptProcess</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationRenderMethodAssignment.ApplicationRenderMethod.MethodRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OmniProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the updated score value by reloading the application review from GetApplicationReview. Stores the result in the Application Review from GetUpdatedApplicationReview record variable.</description>
        <name>GetUpdatedApplicationReview</name>
        <label>Get Updated Application Review</label>
        <locationX>578</locationX>
        <locationY>1496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetScoreFromUpdatedApplicationReview</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetFaultObjectUpdatedApplicationReview</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationReview.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationReview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the application review record with an ID that matches ApplicationReview from GetApplicationReview, setting the application recommendation to ApplicationRecommendationPicklist, comment to CommentsLongTextArea, and status to Completed.</description>
        <name>UpdateApplicationReview</name>
        <label>Update Application Review</label>
        <locationX>743</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>ScreenDisplaySuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayUpdateError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationReview.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApplicationRecommendation</field>
            <value>
                <elementReference>ApplicationRecommendationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment</field>
            <value>
                <elementReference>CommentsLongTextArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition</field>
            <value>
                <elementReference>ConditionLongTextArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewedById</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationReview</object>
    </recordUpdates>
    <screens>
        <description>Allows the flow user to enter the recommendation and comments for the application review. Stores the values in ApplicationRecommendationPicklist and CommentsLongTextArea, respectively.</description>
        <name>ScreenCollectApplicationReview</name>
        <label>Collect Application Review</label>
        <locationX>743</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateApplicationReview</targetReference>
        </connector>
        <fields>
            <name>ScreenCollectApplicationReviewHeading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>assessmentScoreText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(46, 46, 46);&quot;&gt;Score:&lt;br&gt;{!Score}%&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ApplicationRecommendationPicklist</name>
            <choiceReferences>ChoiceApplicationReviewRecommendation</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetUpdatedApplicationReview.ApplicationRecommendation</elementReference>
            </defaultValue>
            <fieldText>Application Recommendation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConditionLongTextArea</name>
            <defaultValue>
                <stringValue>{!GetUpdatedApplicationReview.Condition}</stringValue>
            </defaultValue>
            <fieldText>Condition</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApplicationRecommendationPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Admit with Conditions</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CommentsLongTextArea</name>
            <defaultValue>
                <stringValue>{!GetUpdatedApplicationReview.Comment}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Lets the flow user score an application by showing the rubric related to the application review.</description>
        <name>ScreenCollectRubricScoring</name>
        <label>Collect Rubric Scoring</label>
        <locationX>578</locationX>
        <locationY>1388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetUpdatedApplicationReview</targetReference>
        </connector>
        <fields>
            <name>CollectRubricScoringScreenOmniWrapper</name>
            <extensionName>eduadmissions:reviewerFlowOmniWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderMethodName</name>
                <value>
                    <elementReference>RenderMethodName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>individualApplicationTaskId</name>
                <value>
                    <elementReference>GetIndividualApplicationTask.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when data is not configured correctly.</description>
        <name>ScreenDisplayConfigError</name>
        <label>Display Error</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenDisplayConfigErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplayConfigErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;We sent an email to {!ErrorEmailAddress} with details about the error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error message when there&apos;s an issue getting or updating a record.</description>
        <name>ScreenDisplayGetOrUpdateError</name>
        <label>Display Error</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenDisplayGetOrUpdateErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplayGetOrUpdateErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt; There was a problem retrieving the {!FaultObject} record. For help, contact your Salesforce admin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Informs the user that no application reviews are assigned for this individual application.</description>
        <name>ScreenDisplayNoReviews</name>
        <label>Display No Reviews</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenDisplayNoReviewsHeading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplayNoReviewsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;No Application Reviews&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No application reviews are currently assigned to you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a success message to the user after the user submits the application review.</description>
        <name>ScreenDisplaySuccessMessage</name>
        <label>Display Success Message</label>
        <locationX>743</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenDisplaySuccessMessageHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplaySuccessMessageText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;We received your application review.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error if the application review submissions fails.</description>
        <name>ScreenDisplayUpdateError</name>
        <label>Display Update Error</label>
        <locationX>2426</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenDisplayUpdateErrorHeading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplayUpdateErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We couldn&apos;t process your application review. For help, contact your Salesforce admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>eduadmissions__ReviewApplication</sourceTemplate>
    <start>
        <locationX>1590</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetApplicationReview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the object that caused the fault path to be triggered.</description>
        <name>FaultObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the individual application that the application review is related to.</description>
        <name>individualApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Omniscript render method name.</description>
        <name>RenderMethodName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the application review score.</description>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
