force-app/main/default/flows/admission_process_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_610a957d_0c59_4637_bd4f_517ea40726eb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordLookupFaultConnectorAssignment</name>
        <label>recordLookupFaultConnectorAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>c_04ce5cc7_e13f_4ac7_b402_c6ef554659e2</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_22a6ca47_db94_46e6_bb54_5d29b1300185</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7eba3a0c_7b4c_4758_a3db_808ab4684992</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_96c21765_efab_451e_8f66_3a1f5c99a523</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_96fcae60_a761_4b3d_96ee_5cad91a8b24e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <formulas>
        <name>interviewGuid</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid}</expression>
    </formulas>
    <interviewLabel>Admissions Recommendation Form</interviewLabel>
    <label>Admissions Recommendation Form</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>participantMergeFieldName</name>
        <value>
            <stringValue>Recommender</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>recordMergeFieldName</name>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Recommender_Email_Template_1739722729380</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <recordLookups>
        <name>surveyParticipantRecordLookup_Recommender</name>
        <label>surveyParticipantRecordLookup_Recommender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetParticipantLookup_Recommender</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordLookupFaultConnectorAssignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <outputAssignments>
            <assignToReference>surveyParticipantLookupIdVar</assignToReference>
            <field>ParticipantId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>surveySubjectRecordLookup_Application</name>
        <label>surveySubjectRecordLookup_Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetRecordLookup_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordLookupFaultConnectorAssignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SurveyInvitationId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>SurveyInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SubjectEntityType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>SubjectEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IndividualApplication</stringValue>
            </value>
        </filters>
        <object>SurveySubject</object>
        <outputAssignments>
            <assignToReference>surveySubjectLookupSubjectIdVar</assignToReference>
            <field>SubjectId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>targetParticipantLookup_Recommender</name>
        <label>targetParticipantLookup_Recommender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyParticipantLookupIdVar</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Recommender</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>targetRecordLookup_Application</name>
        <label>targetRecordLookup_Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>surveyParticipantRecordLookup_Recommender</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveySubjectLookupSubjectIdVar</elementReference>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <outputReference>Application</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>p_610a957d_0c59_4637_bd4f_517ea40726eb</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9c215135_9f2a_4559_a359_132296438a8f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How many years have you known the applicant?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Slide the scale or enter a value in years.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>q_1623380d_ca7d_44bc_887c_89e8b0b83c03</name>
            <extensionName>survey:runtimeMatrix</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How would you rate the applicant&apos;s skills in the following academic areas?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!q_1623380d_ca7d_44bc_887c_89e8b0b83c03_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionType</name>
                <value>
                    <stringValue>Matrix</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>config</name>
                <value>
                    <apexValue>{&quot;question0&quot;:{&quot;label&quot;:&quot;Arts&quot;,&quot;name&quot;:&quot;q_1623380d_ca7d_44bc_887c_89e8b0b83c03_0&quot;},&quot;question1&quot;:{&quot;label&quot;:&quot;Math&quot;,&quot;name&quot;:&quot;q_1623380d_ca7d_44bc_887c_89e8b0b83c03_1&quot;},&quot;question2&quot;:{&quot;label&quot;:&quot;Reading&quot;,&quot;name&quot;:&quot;q_1623380d_ca7d_44bc_887c_89e8b0b83c03_2&quot;},&quot;question3&quot;:{&quot;label&quot;:&quot;Sciencce&quot;,&quot;name&quot;:&quot;q_1623380d_ca7d_44bc_887c_89e8b0b83c03_3&quot;},&quot;question4&quot;:{&quot;label&quot;:&quot;Social Studies&quot;,&quot;name&quot;:&quot;q_1623380d_ca7d_44bc_887c_89e8b0b83c03_4&quot;},&quot;question5&quot;:{&quot;label&quot;:&quot;Writing&quot;,&quot;name&quot;:&quot;q_1623380d_ca7d_44bc_887c_89e8b0b83c03_5&quot;},&quot;columnNames&quot;:[{&quot;label&quot;:&quot;Below Average&quot;,&quot;value&quot;:&quot;Below Average&quot;,&quot;name&quot;:&quot;c_1623380d_ca7d_44bc_887c_89e8b0b83c03_0&quot;},{&quot;label&quot;:&quot;Average&quot;,&quot;value&quot;:&quot;Average&quot;,&quot;name&quot;:&quot;c_1623380d_ca7d_44bc_887c_89e8b0b83c03_1&quot;},{&quot;label&quot;:&quot;Above Average&quot;,&quot;value&quot;:&quot;Above Average&quot;,&quot;name&quot;:&quot;c_1623380d_ca7d_44bc_887c_89e8b0b83c03_2&quot;}],&quot;numberOfQuestionsConfigured&quot;:6,&quot;childQuestionType&quot;:&quot;MultiChoice&quot;}</apexValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <apexValue>{}</apexValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_9b68bbe8_36a0_4fd2_951e_e604abbb7cae_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9b68bbe8_36a0_4fd2_951e_e604abbb7cae</name>
            <choiceReferences>c_96c21765_efab_451e_8f66_3a1f5c99a523</choiceReferences>
            <choiceReferences>c_22a6ca47_db94_46e6_bb54_5d29b1300185</choiceReferences>
            <choiceReferences>c_7eba3a0c_7b4c_4758_a3db_808ab4684992</choiceReferences>
            <choiceReferences>c_96fcae60_a761_4b3d_96ee_5cad91a8b24e</choiceReferences>
            <choiceReferences>c_04ce5cc7_e13f_4ac7_b402_c6ef554659e2</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Overall, how strongly would you recommend the applicant for admission to Connected University?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dac76182_93a7_4e65_9d1d_edfedd679e9e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please share any additional comments for the admissions committee&apos;s review here.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>acceptListOptions</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>attachmentInterviewGuid</name>
                <value>
                    <stringValue>{!interviewGuid}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>attachmentInvitationId</name>
                <value>
                    <stringValue>{!invitationId}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>attachmentPreviewMode</name>
                <value>
                    <stringValue>{!previewMode}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxFileLimit</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxFileSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5893ee69_e8f1_43e6_8787_97e34fe3dc0c</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeAttachment</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;If you wish to provide additional comments in the form of a letter, please upload it here.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_610a957d_0c59_4637_bd4f_517ea40726eb</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>surveySubjectRecordLookup_Application</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_1623380d_ca7d_44bc_887c_89e8b0b83c03_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;How would you rate the applicant&apos;s skills in the following academic areas?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for providing your recommendation for this applicant. You may now close this window.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;An applicant to Connected University has requested your recommendation to be included in their application for admission. &lt;/strong&gt;If you are willing to provide, pleas click Next to proceed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>faultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Recommender</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>surveyParticipantLookupIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveySubjectLookupSubjectIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_9b68bbe8_36a0_4fd2_951e_e604abbb7cae_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
