force-app/main/default/flows/Application_Intake_248_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>NumberOfReviewsToAssign</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Application Intake - 248 Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Set_Application_Status_to_Review</name>
        <label>Set Application Status to Review</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <screens>
        <name>Intake_Screen</name>
        <label>Intake Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Application_Status_to_Review</targetReference>
        </connector>
        <fields>
            <name>intake_display_text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Make sure that the most recent applicant information has been properly uploaded.&lt;/li&gt;&lt;li&gt;Confirm that required materials for Education, Testing, and Writing have been reviewed.&lt;/li&gt;&lt;li&gt;Check that there are no remaining items to process.&lt;/li&gt;&lt;li&gt;Verify that the appropriate interviewer, panel review members, or other admissions staff are available and queued.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Application_is_ready_for_review</name>
            <dataType>Boolean</dataType>
            <fieldText>Application is ready for review.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Select this checkbox to mark the application as ready for review.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Application_is_ready_for_review}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>eduadmissions__AppIntakeScreen</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intake_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IndividualApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfReviewsAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
