force-app/main/default/flows/Application_Review_248_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_AllApplicationReviewsCompletedSoFar_to_False</name>
        <label>Set AllApplicationReviewsCompletedSoFar to False</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllApplicationReviewsCompletedSoFar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Application_Review_Statuses_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_All_Application_Reviews_Completed_Decision</name>
        <label>Check All Application Reviews Completed Decision</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Application_Reviews_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllApplicationReviewsCompletedSoFar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_to_Ready_for_Decision</targetReference>
            </connector>
            <label>All Application Reviews Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application_Review_Status</name>
        <label>Check Application Review Status</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_AllApplicationReviewsCompletedSoFar_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Reviews_Completed_So_Far</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Application_Review_Statuses_Loop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllApplicationReviewsCompletedSoFar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Application_Review_Statuses_Loop</targetReference>
            </connector>
            <label>Application Reviews Completed So Far</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Have_Application_Review</name>
        <label>Does User Have Application Review?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Reviews_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Application_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Review_for_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Screen</targetReference>
            </connector>
            <label>User Has Application Review</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>application_review_recommendation_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApplicationRecommendation</picklistField>
        <picklistObject>ApplicationReview</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Application Review - 248 Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Review</label>
    <loops>
        <name>Check_Application_Review_Statuses_Loop</name>
        <label>Check Application Review Statuses Loop</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_All_Reviews_for_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Application_Review_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_All_Application_Reviews_Completed_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Reviews_for_Application</name>
        <label>Get All Reviews for Application</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application_Review_Statuses_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationReview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Review_for_User</name>
        <label>Get Application Review for User</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_Application_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationReview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Review</name>
        <label>Update Application Review</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_All_Reviews_for_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Review_for_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApplicationRecommendation</field>
            <value>
                <elementReference>Application_Recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment</field>
            <value>
                <elementReference>application_review_comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewedById</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationReview</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_to_Ready_for_Decision</name>
        <label>Update Application Status to Ready for Decision</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready For Decision</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <screens>
        <name>No_Reviews_Screen</name>
        <label>No Reviews Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_reviews_display_text</name>
            <fieldText>&lt;p&gt;When work for this record is assigned to you, you’ll find it here.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_Review</targetReference>
        </connector>
        <fields>
            <name>app_review_display_text</name>
            <fieldText>&lt;p&gt;Review the application, make your recommendation, and provide relevant feedback.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Application_Recommendation</name>
            <choiceReferences>application_review_recommendation_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Application Recommendation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>application_review_comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>eduadmissions__AppReviewScreen</sourceTemplate>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Review_for_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllApplicationReviewsCompletedSoFar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IndividualApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
