force-app/main/default/flows/Application_Review_Creation_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Review_to_Collection</name>
        <label>Add Review to Collection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ApplicationReviews</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApplicationReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Review_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Attributes</name>
        <label>Assign Review Attributes</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SingleApplicationReview.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationReview.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reviewer_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationReview.ApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Done_Adding_Reviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Review_Count</name>
        <label>Increment Review Count</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NumberOfReviewsAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Done_Adding_Reviews</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NumberOfReviewsToCreate</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Done_Adding_Reviews</name>
        <label>Done Adding Reviews?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Persist_Application_Reviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Done_Adding_Reviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfReviewsAdded</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumberOfReviewsToCreate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Review_to_Collection</targetReference>
            </connector>
            <label>Not Done Adding Reviews</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application Review Creation Sub-Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Review Creation Sub-Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Persist_Application_Reviews</name>
        <label>Persist Application Reviews</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputReference>ApplicationReviews</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reviewer_Queue</name>
        <label>Get Reviewer Queue</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Review_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Reviews</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>eduadmissions__AppReviewCreationSub</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reviewer_Queue</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApplicationReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationReview</objectType>
    </variables>
    <variables>
        <name>IndividualApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfReviewsAdded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SingleApplicationReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationReview</objectType>
    </variables>
</Flow>
