force-app/main/default/flows/Application_Decision_248_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Current_User_Have_Decision</name>
        <label>Does Current User Have Decision?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Decisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_User_Has_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Decisions_for_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Screen</targetReference>
            </connector>
            <label>Current User Has Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>application_decision_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApplicationDecision</picklistField>
        <picklistObject>ApplicationDecision</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Application Decision - 248 Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application_Decisions_for_User</name>
        <label>Get Application Decisions for User</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Current_User_Have_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApplicationDecision</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationDecision</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Application_Status_to_Application_Decision</name>
        <label>Set Application Status to &apos;Application Decision&apos;</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Application Decision</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Decision</name>
        <label>Update Application Decision</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_Application_Status_to_Application_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Decisions_for_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApplicationDecision</field>
            <value>
                <elementReference>Application_Decision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationDecision</object>
    </recordUpdates>
    <screens>
        <name>Decision_Screen</name>
        <label>Decision Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_Decision</targetReference>
        </connector>
        <fields>
            <name>application_decision_display_text</name>
            <fieldText>&lt;p&gt;Review the application, make your decision, and provide relevant feedback.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Application_Decision</name>
            <choiceReferences>application_decision_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Application Decision</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Decisions</name>
        <label>No Decisions</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_decisions_display_text</name>
            <fieldText>&lt;p&gt;When work for this record is assigned to you, you’ll find it here.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>eduadmissions__AppDecisionScreen</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Decisions_for_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IndividualApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
