force-app/main/default/flows/career_services_program_recurrence_bpo_for_pc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>pulseCheckId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1EXxx0000004CLwGAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>scheduleDay</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </constants>
    <decisions>
        <name>is_career_services_program_enrollment_created</name>
        <label>is career services program enrollment created</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProgramId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_career_services_program.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getpulsecheck</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>expirationdate</name>
        <dataType>DateTime</dataType>
        <expression>{!startDate} + 5</expression>
    </formulas>
    <formulas>
        <name>scheduleDayValue</name>
        <dataType>Number</dataType>
        <expression>IF({!scheduleDay} == &apos;Monday&apos;, 64,
IF({!scheduleDay} == &apos;Tuesday&apos;, 32,
IF({!scheduleDay} == &apos;Wednesday&apos;, 16,
IF({!scheduleDay} == &apos;Thursday&apos;, 8,
IF({!scheduleDay} == &apos;Friday&apos;, 4,
IF({!scheduleDay} == &apos;Saturday&apos;, 2,
IF({!scheduleDay} == &apos;Sunday&apos;, 1,0
)))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(TODAY())) &amp; &quot;-&quot; &amp; TEXT(MONTH(TODAY())) &amp; &quot;-&quot; &amp; TEXT(DAY(TODAY())) &amp; &quot; 00:00:00&quot;)+3</expression>
    </formulas>
    <interviewLabel>career services program recurrence bpo for pc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>career services program recurrence bpo for pc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_assessment_envelope</name>
        <label>create assessment envelope</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>create_recurrence_schedule_record</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDateTime</field>
            <value>
                <elementReference>expirationdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LearnerCaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>envelopeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationStatus</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestReferenceId</field>
            <value>
                <elementReference>pulseCheckId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>NotStarted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>PulseCheck</stringValue>
            </value>
        </inputAssignments>
        <object>AssessmentEnvelope</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_recurrence_schedule_record</name>
        <label>create recurrence schedule record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>getpulsecheck.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>envelopeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextScheduleDateTime</field>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessName</field>
            <value>
                <stringValue>Industries_PulseCheck</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceRecordId</field>
            <value>
                <elementReference>create_assessment_envelope</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleDayValue</field>
            <value>
                <elementReference>scheduleDayValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleFrequency</field>
            <value>
                <elementReference>getpulsecheck.Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalRecurrencesCount</field>
            <value>
                <elementReference>getpulsecheck.Occurrences</elementReference>
            </value>
        </inputAssignments>
        <object>RecurrenceSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_career_services_program</name>
        <label>get career services program</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_career_services_program_enrollment_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Career Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getpulsecheck</name>
        <label>get pulse check</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_assessment_envelope</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pulseCheckId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PulseCheck</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_career_services_program</targetReference>
        </connector>
        <object>ProgramEnrollment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>envelopeName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!getpulsecheck.Name} - {!$Record.Contact.LastName}</text>
    </textTemplates>
    <variables>
        <name>pc_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>testdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
