force-app/main/default/flows/CT_Admissions_Process_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action to send an email to the address stored in ErrorEmailAddress if the required PersonEmail is missing.</description>
        <name>SendErrorEmail</name>
        <label>Send Error Email</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No contact email address found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>We couldn’t update or create a person account because the required email field is missing.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ErrorEmailAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets and returns as output the account ID and PersonContactId for the incomingPersonAccount.</description>
        <name>SetIdsForIncomingPersonAccount</name>
        <label>Set IDs for Incoming Person Account</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>incomingPersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingPersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>incomingPersonAccount.PersonContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingPersonAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the value to true to indicate that the person account is new.</description>
        <name>SetIsNewPersonAccount</name>
        <label>Set Is New Person Account</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>isNewPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the Mailing Address fields on the person account to the values from incomingPersonAccount.</description>
        <name>SetMailingAddress</name>
        <label>Set Mailing Address</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>GetExistingPersonAccount.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingPersonAccount.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingPersonAccount.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingPersonAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingPersonAccount.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdatePersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the person account record type on the incoming person account record that is used to create the new record.</description>
        <name>SetPersonAccountRecordType</name>
        <label>Set Person Account Record Type</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>incomingPersonAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPersonAccountRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Phone field on the existing person account to the value from incomingPersonAccount.</description>
        <name>SetPhone</name>
        <label>Set Phone</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GetExistingPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdatePersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMailingAddress</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the email address for flow error notifications.</description>
        <name>ErrorEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>example@email.com.invalid</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if a Person Account exists with an email address that matches the one provided in the incomingPersonAccount.</description>
        <name>DoesPersonAccountExist</name>
        <label>Does a Person Account Exist?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SetPersonAccountRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>PersonAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingPersonAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePhone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the IncomingPersonAccount has the required fields FirstName, LastName, and PersonEmail populated.</description>
        <name>HasNameAndEmail</name>
        <label>Has Name and Email?</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>SendErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesHasNameAndEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingPersonAccount.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPersonAccountRecordTypeId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the empty mailing address field in the person account using the address from incomingPersonAccount based on the Address Street value if provided.</description>
        <name>UpdateMailingAddress</name>
        <label>Update Mailing Address?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>UpdatePersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesUpdateAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingPersonAccount.PersonMailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.PersonMailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMailingAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the person account if the shouldUpdatePersonAccount is set to true at least once in the flow to trigger a single Update Record.</description>
        <name>UpdatePersonAccount</name>
        <label>Update Person Account?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>SetIdsForIncomingPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesUpdatePersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldUpdatePersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExistingPersonAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the empty phone field in the person account using the phone number from incomingPersonAccount if provided.</description>
        <name>UpdatePhone</name>
        <label>Update Phone?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>UpdateMailingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesPopulatePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingPersonAccount.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT Admissions: Process Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CT Admissions: Process Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new person account from the incoming person account record.</description>
        <name>CreatePersonAccount</name>
        <label>Create Person Account</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>GetNewPersonAccount</targetReference>
        </connector>
        <inputReference>incomingPersonAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the person account associated with the user by matching the email address.</description>
        <name>GetExistingPersonAccount</name>
        <label>Get Existing Person Account</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesPersonAccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPersonAccountRecordTypeId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonMailingStreet</queriedFields>
        <queriedFields>PersonMailingCity</queriedFields>
        <queriedFields>PersonMailingState</queriedFields>
        <queriedFields>PersonMailingPostalCode</queriedFields>
        <queriedFields>PersonMailingCountry</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the newly created person account, including the new ContactId.</description>
        <name>GetNewPersonAccount</name>
        <label>Get New Person Account</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIsNewPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingPersonAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>incomingPersonAccount.PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type ID associated with the person account.</description>
        <name>GetPersonAccountRecordTypeId</name>
        <label>Get Person Account Record Type ID</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the person account record with the changes in the field values.</description>
        <name>UpdateExistingPersonAccount</name>
        <label>Update Existing Person Account</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>SetIdsForIncomingPersonAccount</targetReference>
        </connector>
        <inputReference>GetExistingPersonAccount</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>eduadmissions__ProcPersAcct</sourceTemplate>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HasNameAndEmail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The person account details that are sent as input from the parent flow, usually without the account ID.</description>
        <name>incomingPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Indicates whether the person account is new.</description>
        <name>isNewPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indicates whether the person account was updated once in the flow to trigger a single Update Record.</description>
        <name>ShouldUpdatePersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
