force-app/main/default/flows/ct_Create_INquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the details of the academic interest record in the AcademicInterestDetails record variable, such as academic term ID, account ID, and contact ID.</description>
        <name>SetAcademicInterestDetails</name>
        <label>Set Academic Interest Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AcademicInterestDetails.AcademicTermId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>academicTermId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcademicInterestDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcademicInterestDetails.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcademicInterestDetails.EducationalInfoRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>educationalInfoRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcademicInterestDetails.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Inq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the details of the person account record to the person account retrieved by the flow.</description>
        <name>SetAuthenticatedPersonAccountDetails</name>
        <label>Set Authenticated Person Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonAccountDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ownerId variable and the owner ID in PersonAccountDetails to the default user ID.</description>
        <name>SetDefaultUserOwnerDetails</name>
        <label>Set Default User Owner Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultUserOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccountDetails.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultUserOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetPersonAccountDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the details for the person account record in the PersonAccountDetails record variable, including first name, last name, email, and address.</description>
        <name>SetPersonAccountDetails</name>
        <label>Set Person Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonAccountDetails.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccountDetails.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccountDetails.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccountDetails.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Acc</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores “Ask for Help” as the default subject for the case. Update the constant to set a different default for the case this flow creates.</description>
        <name>DefaultCaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ask for Help</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the default user ID that is the owner of all newly created records for guest users. Set this value to the default user ID that you want to own the records.</description>
        <name>DefaultUserOwnerId</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <description>Stores the user name for the Einstein Agent User profile.</description>
        <name>DigitalAgentUserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Einstein Agent User</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the user that’s running the flow is authenticated and not the agent user.</description>
        <name>HaveAuthenticatedUser</name>
        <label>Have Authenticated User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetDefaultUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>AuthenticatedUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DigitalAgentUserName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPersonAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user record exists before assigning ownership of any new records.</description>
        <name>HaveValidUser</name>
        <label>Have Valid User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetPersonAccountDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ValidUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DigitalAgentUserName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDefaultUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefaultUserOwnerDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the ownerID variable in the new Case record is empty.</description>
        <name>IsOwnerAssigned</name>
        <label>Is Owner Assigned?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateCaseWithOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ct Create INquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ct Create INquiry</label>
    <overriddenFlow>eduadmissions__CreateInquiry</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a case record related to the person account from the PersonAccountProcessing flow based on the specified values.</description>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_LEarning_Program</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>educationalInfoRequestCategory</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a case record related to the person account from the PersonAccountProcessing flow based on the specified values, including the owner of the record.</description>
        <name>CreateCaseWithOwner</name>
        <label>Create Case With Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_LEarning_Program</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates an educational info request record related to the case created in the CreateCase element.</description>
        <name>CreateEducationalInformationRequest</name>
        <label>Create Educational Information Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>educationalInfoRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>SetAcademicInterestDetails</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <elementReference>educationalInfoRequestCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LearningId</field>
            <value>
                <elementReference>Get_LEarning_Program.LearningId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubCategory</field>
            <value>
                <elementReference>educationalInfoRequestSubcategory</elementReference>
            </value>
        </inputAssignments>
        <object>EducationalInfoRequest</object>
    </recordCreates>
    <recordLookups>
        <name>Get_LEarning_Program</name>
        <label>Get LEarning Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateEducationalInformationRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <stringValue>learningProgramIds</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LearningProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the default user record using the provided user ID.</description>
        <name>GetDefaultUser</name>
        <label>Get Default User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveValidUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefaultUserOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the person account record ID that matches the contact ID of the user that&apos;s running the flow. Stores the result in the GetPersonAccount record variable.</description>
        <name>GetPersonAccount</name>
        <label>Get Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAuthenticatedPersonAccountDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveAuthenticatedUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>PR_Acc</name>
        <label>PR Acc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsOwnerAssigned</targetReference>
        </connector>
        <flowName>CT_Admissions_Process_Person_Account</flowName>
        <inputAssignments>
            <name>incomingPersonAccount</name>
            <value>
                <elementReference>PersonAccountDetails</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PR_Inq</name>
        <label>PR Inq</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Ct_Inquiry_Academic_Interest_Proccessing</flowName>
        <inputAssignments>
            <name>academicInterestTemplate</name>
            <value>
                <elementReference>AcademicInterestDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incomingPersonAccount</name>
            <value>
                <elementReference>PR_Acc.incomingPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewPersonAccount</name>
            <value>
                <elementReference>PR_Acc.isNewPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedLearningProgramIds</name>
            <value>
                <elementReference>learningProgramIds</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>academicInterestIds</assignToReference>
            <name>newAcademicInterestIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Temporarily stores the academic interest details that are passed into the EDU Cloud: Inquiry: Academic Interest Processing flow.</description>
        <name>AcademicInterestDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcademicInterest</objectType>
    </variables>
    <variables>
        <description>Stores a collection of the academic interest IDs returned by the AcademicInterestProcessing flow. This value is available as output from the flow.</description>
        <name>academicInterestIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the academic term ID passed into the flow.</description>
        <name>academicTermId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the description of the case passed into the flow.</description>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the case record returned by the CreateCase element. This value is available as output from the flow.</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the category for the educational info request record passed into the flow.</description>
        <name>educationalInfoRequestCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the educational info request record returned by CreateEducationalInformationRequest. This value is available as output from the flow.</description>
        <name>educationalInfoRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the subcategory for the educational info request record passed into the flow.</description>
        <name>educationalInfoRequestSubcategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A collection of learning program IDs that the prospective student, parent, or counselor selected and were passed into the flow.</description>
        <name>learningProgramIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the owner user ID assigned to newly created records.</description>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Temporarily stores the person account details that are passed to the EDU Cloud: Inquiry: Person Account Processing flow.</description>
        <name>PersonAccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores the account ID of the user that was passed into the flow.</description>
        <name>userAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the email address of the person that made the inquiry. This variable is passed into the flow.</description>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the first name of the person that made the inquiry. This variable is passed into the flow.</description>
        <name>userFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the last name of the person that made the inquiry. This variable is passed into the flow.</description>
        <name>userLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the phone number of the person that made the inquiry. This variable is passed into the flow.</description>
        <name>userPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
