force-app/main/default/flows/EDU_Cloud_Create_Grade_Alert_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to the user that the specified case team member is not available.</description>
        <name>SendEmail_CaseTeamMemberUnavailable</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The specified case team member is not available.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Creating Grade Alert: Case Team Member Unavailable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the user that no case was found.</description>
        <name>SendEmail_NoCaseFound</name>
        <label>Send Email</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>No case of academic type was found while trying to create a grade alert.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Creating Grade Alert: No Case Found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether GetCase returned a case record or not.</description>
        <name>IsCaseAvailable</name>
        <label>Is Case Available?</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>SendEmail_NoCaseFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CaseAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAlert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the case team member is available or not.</description>
        <name>IsCaseTeamMemberAvailable</name>
        <label>Is Case Team Member Available?</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>SendEmail_CaseTeamMemberUnavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CaseTeamMemberAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTask</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether LetterGrade is F or not.</description>
        <name>IsGrade_F</name>
        <label>Is Grade F?</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>GradeIs_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LetterGrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseTeamRole</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Get the severity based on grade</description>
        <name>Get_Alert_Severity</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.LetterGrade} =&apos;F&apos;, &apos;High&apos;, &apos;Medium&apos;)</expression>
    </formulas>
    <formulas>
        <description>Get the valid until date, 14 days from current date</description>
        <name>Get_Valid_Until_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <description>Get valid until date/time, 14 days from start date/time</description>
        <name>Get_Valid_Until_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDateTime} +14)</expression>
    </formulas>
    <interviewLabel>EDU Cloud: Create Grade Alert   - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Cloud: Create Grade Alert   - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a record alert for the case.</description>
        <name>CreateAlert</name>
        <label>Create Alert</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>IsGrade_F</targetReference>
        </connector>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <elementReference>Get_Alert_Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Grade Concern Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidUntilDate</field>
            <value>
                <elementReference>Get_Valid_Until_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RecordAlert</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a task for the assigned case team member.</description>
        <name>CreateTask</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Get_Valid_Until_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCaseTeamMember.MemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up - Student Failed the course</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CreateAlert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.CourseOfferingParticipant.ParticipantContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the case record for the specific course offering participant and record type.</description>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CourseOfferingParticipant.ParticipantAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets a case team member with the role from GetCaseTeamRole.</description>
        <name>GetCaseTeamMember</name>
        <label>Get Case Team Member</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseTeamMemberAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseTeamRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the role ID of the case team member (such as primary advisor) to be assigned.</description>
        <name>GetCaseTeamRole</name>
        <label>Get Case Team Role</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseTeamMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Advisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type for the case based on its name.</description>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Academic</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LetterGrade</field>
            <operator>Contains</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>LetterGrade</field>
            <operator>Contains</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <filters>
            <field>LetterGrade</field>
            <operator>Contains</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </filters>
        <object>CourseOfferingPtcpResult</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
