force-app/main/default/flows/EDU_Compare_Learning_Program_Plans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the current ID to the ActiveLearningProgramPlans collection.</description>
        <name>AddActiveLearningProgramPlanToCollection</name>
        <label>Add Active Learning Program Plan to Collection</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ActiveLearningProgramPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverActiveLearningProgramPlans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverActiveLearningProgramPlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the learning program plan record to the SelectedLearningProgramPlanIds collection.</description>
        <name>AddProgramPlanLearningIDtoCollection</name>
        <label>Add Program Plan Learning ID to Collection</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>selectedLearningProgramPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ComparePrograms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether the LearningProgramPlan recordId of the learning program plan being viewed exists.</description>
        <name>DoesLearningProgramPlanExist</name>
        <label>Does Learning Program Plan Exist?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>ShowLearningProgramPlansToCompare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasLearningProgramPlanRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProgramPlanLearningIDtoCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EDU Compare Learning Program Plans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Compare Learning Program Plans</label>
    <loops>
        <description>Repeats actions for each learning program plan record in Active Learning Program Plans from GetActiveLearningProgramPlanRecords.</description>
        <name>IterateOverActiveLearningProgramPlans</name>
        <label>Iterate Over Active Learning Program Plans</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>GetActiveLearningProgramPlanRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddActiveLearningProgramPlanToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DoesLearningProgramPlanExist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the active learning program plan records available to select from for comparison. Stores the results in the Active Learning Program Plan Ids collection.</description>
        <name>GetActiveLearningProgramPlanRecords</name>
        <label>Get Active Learning Program Plan Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverActiveLearningProgramPlans</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetActiveLearningProgramPlanRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LearningProgramPlan</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Shows a comparison of a learner’s enrolled learning program plan and the selected learning program plans.</description>
        <name>ComparePrograms</name>
        <label>Compare Programs</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompareLearningPrograms</name>
            <extensionName>edulearning:programPlanComparisonView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isPreview</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedLearningProgramPlanId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLearningProgramPlanIds</name>
                <value>
                    <elementReference>selectedLearningProgramPlanIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>learningProgramPlanIds</name>
                <value>
                    <elementReference>ActiveLearningProgramPlanIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lppFieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;value&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Name&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:true},{&quot;label&quot;:&quot;Description&quot;,&quot;value&quot;:&quot;Description&quot;,&quot;fieldName&quot;:&quot;Description&quot;,&quot;dataType&quot;:&quot;plaintextarea&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Active From Date&quot;,&quot;value&quot;:&quot;ActiveFromDate&quot;,&quot;fieldName&quot;:&quot;ActiveFromDate&quot;,&quot;dataType&quot;:&quot;date&quot;,&quot;isNameField&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lpFieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;value&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Name&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:true},{&quot;label&quot;:&quot;Description&quot;,&quot;value&quot;:&quot;Description&quot;,&quot;fieldName&quot;:&quot;Description&quot;,&quot;dataType&quot;:&quot;richtextarea&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Academic Level&quot;,&quot;value&quot;:&quot;AcademicLevel&quot;,&quot;fieldName&quot;:&quot;AcademicLevel&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Duration&quot;,&quot;value&quot;:&quot;Duration&quot;,&quot;fieldName&quot;:&quot;Duration&quot;,&quot;dataType&quot;:&quot;number&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Duration Unit&quot;,&quot;value&quot;:&quot;DurationUnit&quot;,&quot;fieldName&quot;:&quot;DurationUnit&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there&apos;s an error getting the active learning program plan records.</description>
        <name>ScreenDisplayErrorGetActiveLearningProgramPlanRecords</name>
        <label>Display Error</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorGetActiveLearningProgramPlanRecordsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 11px;&quot;&gt;Something went wrong. Refresh the page and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>A learner can select up to three learning program plans to compare to their currently enrolled plan.</description>
        <name>ShowLearningProgramPlansToCompare</name>
        <label>Show Learning Program Plans to Compare</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ComparePrograms</targetReference>
        </connector>
        <fields>
            <name>SelectedLearningProgramPlans</name>
            <extensionName>edulearning:programPlanSelectionView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedLearningProgramPlanIds</name>
                <value>
                    <elementReference>selectedLearningProgramPlanIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>learningProgramPlanIds</name>
                <value>
                    <elementReference>ActiveLearningProgramPlanIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lppFieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;value&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Name&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:true},{&quot;label&quot;:&quot;Description&quot;,&quot;value&quot;:&quot;Description&quot;,&quot;fieldName&quot;:&quot;Description&quot;,&quot;dataType&quot;:&quot;plaintextarea&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Active From Date&quot;,&quot;value&quot;:&quot;ActiveFromDate&quot;,&quot;fieldName&quot;:&quot;ActiveFromDate&quot;,&quot;dataType&quot;:&quot;date&quot;,&quot;isNameField&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lpFieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;value&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Name&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:true},{&quot;label&quot;:&quot;Description&quot;,&quot;value&quot;:&quot;Description&quot;,&quot;fieldName&quot;:&quot;Description&quot;,&quot;dataType&quot;:&quot;richtextarea&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Academic Level&quot;,&quot;value&quot;:&quot;AcademicLevel&quot;,&quot;fieldName&quot;:&quot;AcademicLevel&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedLearningProgramPlanIds</assignToReference>
                <name>selectedLearningProgramPlanIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>edulearning__CompareProgramPlans</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActiveLearningProgramPlanRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a collection of the active learning program plan ID records for program plan comparison.</description>
        <name>ActiveLearningProgramPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the learning program plan record ID passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the selected learning program plan (students are given the ability to select a learning program plan from the comparison view screen)</description>
        <name>SelectedLearningProgramPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the selected learning program plan IDs of the learning program plan records that are passed into the flow.</description>
        <name>selectedLearningProgramPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
