force-app/main/default/flows/EDU_Cloud_Update_Individual_Application_Status_when_all_required_Individual_Appl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the count of not completed required Individual Application Tasks related to this application.</description>
        <name>Assign_Count_Of_Not_Completed_Required_Individual_Application_Tasks</name>
        <label>Assign Count Of Not Completed Required Individual Application Tasks</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CountOfNotCompletedRequiredIndividualApplicationTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Not_Completed_Required_Individual_Application_Tasks_For_This_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_All_Required_Individual_Application_Tasks_Are_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Individual Application.</description>
        <name>Update_Individual_Application</name>
        <label>Update Individual Application</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Individual_Application.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Individual_Application_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check whether all required Individual Application Tasks are completed.</description>
        <name>If_All_Required_Individual_Application_Tasks_Are_Completed</name>
        <label>If All Required Individual Application Tasks Are Completed</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfNotCompletedRequiredIndividualApplicationTasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Individual_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update the Individual Application Status to Processing when all required Individual Application Tasks are completed by the applicant.</description>
    <environments>Default</environments>
    <interviewLabel>EDU Cloud: Update Individual Application Status when all required Individual Application Tasks are completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Cloud: Update Individual Application Status when all required Individual Application Tasks are completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Individual Application record.</description>
        <name>Get_Individual_Application</name>
        <label>Get Individual Application</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Individual_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SavedApplicationRefId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreliminaryApplicationRefId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all not completed required Individual Application Tasks for the application.</description>
        <name>Get_Not_Completed_Required_Individual_Application_Tasks_For_This_Application</name>
        <label>Get Not Completed Required Individual Application Tasks For This Application</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_Of_Not_Completed_Required_Individual_Application_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreliminaryApplicationRefId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreliminaryApplicationRefId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsRequired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplicationTask</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Individual Application Status to Processing.</description>
        <name>Update_Individual_Application_Status</name>
        <label>Update Individual Application Status</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>Get_Individual_Application</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Not_Completed_Required_Individual_Application_Tasks_For_This_Application</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>IndividualApplicationTask</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>A count of all not completed required Individual Application Tasks for this application.</description>
        <name>CountOfNotCompletedRequiredIndividualApplicationTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
