force-app/main/default/flows/EDUCloud_Inquiry_Connect_With_Us.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add the Learning Program Id extracted from the MID formula to the set of selectedLearningProgramIds.</description>
        <name>ExtractLearningProgramId</name>
        <label>Extract Learning Program Id</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>selectedLearningProgramIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedLearningProgramSubstring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementCounters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increment the number of processed Learning Program Ids and the left position by 19 (18-char Id + semicolon delimiter).</description>
        <name>IncrementCounters</name>
        <label>Increment Counters</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>extractedLearningProgramIdsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedLearningProgramStringLeftPosition</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HasNextLearningProgramId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the values for the Academic Interest Template record that will be passed to the subflow.</description>
        <name>SetAcademicInterestTemplateValues</name>
        <label>Set Academic Interest Template Values</label>
        <locationX>176</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.AcademicTermId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTermPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personAccountInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personAccountInfo.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.ContactRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContactRequestId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EDUCloud_Inquiry_Academic_Interest_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Person Account values from the form to a record variable.</description>
        <name>SetPersonAccountValues</name>
        <label>Set Person Account Values</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>personAccountInfo.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountInfo.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountInfo.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountInfo.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preprocessedSelectedLearningProgramIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramsSelect.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IteratePreprocessedSelectedLearningPrograms</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Text for the user agreement related to Consent Required.</description>
        <name>ChoiceConsentRequired</name>
        <choiceText>Opt in to receive communications from us.</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Decides if there are additional Learning Program Ids to extract based on the current left position and processed Ids count.</description>
        <name>HasNextLearningProgramId</name>
        <label>Has Next Learning Program Id</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>IteratePreprocessedSelectedLearningPrograms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsHasNextLearningProgramId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedLearningProgramsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>extractedLearningProgramIdsCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SelectedLearningProgramsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtractLearningProgramId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>The picklist options for the Academic Level.</description>
        <name>AcademicLevelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AcademicLevel</picklistField>
        <picklistObject>Learning</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The picklist options for the Academic Term that are queried from Academic Term records.</description>
        <name>AcademicTermChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>AcademicTerm</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The picklist options for the Program that are queried from Learning Program records.</description>
        <name>LearningProgramChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LearningProgram</object>
        <sortField>ActiveFromDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The Preferred Channel picklist options on Contact Request.</description>
        <name>PreferredChannelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferredChannel</picklistField>
        <picklistObject>ContactRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The picklist values for Request Reason on Contact Request.</description>
        <name>RequestReasonChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RequestReason</picklistField>
        <picklistObject>ContactRequest</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Determines if the user is authenticated based on having a ContactId. This assumes an Experience Site users, so update this formula if the flow should run for internal users.</description>
        <name>IsAuthenticatedUserFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!$User.ContactId})), true, false)</expression>
    </formulas>
    <formulas>
        <description>Determines the number of Ids in the delimited string by removing the delimiters then dividing by 18 (the size of one Id).</description>
        <name>SelectedLearningProgramsCount</name>
        <dataType>Number</dataType>
        <expression>FLOOR(LEN(SUBSTITUTE({!ProgramsSelect.selectedChoiceValues}, &quot;;&quot;, &quot;&quot;))/18)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Identifies a single Id substring starting at the indicated left position and counting 18 positions for the length of an Id.</description>
        <name>SelectedLearningProgramSubstring</name>
        <dataType>String</dataType>
        <expression>MID({!ProgramsSelect.selectedChoiceValues}, {!selectedLearningProgramStringLeftPosition}, 18)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the screen&apos;s prepopulated Email to the identified user or null for guest users.</description>
        <name>UserEmailFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IsAuthenticatedUserFormula}, {!$User.Email}, null)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the screen&apos;s prepopulated First Name to the identified user or null for guest users.</description>
        <name>UserFirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IsAuthenticatedUserFormula}, {!$User.FirstName}, null)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the screen&apos;s prepopulated Last Name to the identified user or null for guest users.</description>
        <name>UserLastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IsAuthenticatedUserFormula}, {!$User.LastName}, null)</expression>
    </formulas>
    <formulas>
        <description>Validates that the First Name is between 2 and 40 characters in length.</description>
        <name>ValidateFirstNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!FirstNameText}) &gt;= 2, LEN({!FirstNameText}) &lt;= 40)</expression>
    </formulas>
    <formulas>
        <description>Validate that the Last Name is between 2 and 80 characters in length.</description>
        <name>ValidateLastNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!LastNameText}) &gt;= 2, LEN({!LastNameText}) &lt;= 80)</expression>
    </formulas>
    <formulas>
        <description>Validates that the Description is between 4 and 32,000 characters in length.</description>
        <name>ValidationDescriptionFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!DescriptionLongText}) &gt; 4, LEN({!DescriptionLongText}) &lt;= 32000)</expression>
    </formulas>
    <interviewLabel>EDU Cloud: Inquiry: Connect With Us {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Cloud: Inquiry: Connect With Us</label>
    <loops>
        <description>Loop through the value from the Choice Lookup that is used to extract the Learning Program Id. Because we have a delimited string and not a collection to iterate, this will only loop once. The actual looping of the Ids is controlled by the Decision and redirection for the Yes path.</description>
        <name>IteratePreprocessedSelectedLearningPrograms</name>
        <label>Iterate Preprocessed Selected Learning Programs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>preprocessedSelectedLearningProgramIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HasNextLearningProgramId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EDU_Cloud_Inquiry_Person_Account_Processing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new Contact Request record from the form data.</description>
        <name>CreateContactRequest</name>
        <label>Create Contact Request</label>
        <locationX>176</locationX>
        <locationY>1124</locationY>
        <assignRecordIdToReference>newContactRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>SetAcademicInterestTemplateValues</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferredChannel</field>
            <value>
                <elementReference>PreferredChannelPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredPhone</field>
            <value>
                <elementReference>PreferredPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestDescription</field>
            <value>
                <elementReference>DescriptionLongText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestReason</field>
            <value>
                <elementReference>RequestReasonPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>personAccountInfo.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>ContactRequest</object>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen for a person to submit a &quot;Connect with Us&quot; form.</description>
        <name>ScreenConnectWithUs</name>
        <label>Connect with Us</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetPersonAccountValues</targetReference>
        </connector>
        <fields>
            <name>ConnectWithUsHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Connect with Us&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Complete this form and we&apos;ll reach out to you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequiredInformationDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(186, 5, 23);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; = Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenConnectWithUs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenConnectWithUs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicLevelPicklist</name>
                    <choiceReferences>AcademicLevelChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Academic Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StartTermPicklist</name>
                    <choiceReferences>AcademicTermChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenConnectWithUs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProgramsSelect</name>
                    <choiceReferences>LearningProgramChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Programs</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenConnectWithUs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenConnectWithUs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstNameText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserFirstNameFormula</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsAuthenticatedUserFormula</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The First Name must be between 2 and 40 characters in length.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidateFirstNameFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenConnectWithUs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastNameText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserLastNameFormula</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsAuthenticatedUserFormula</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Last Name must be between 2 and 80 characters in length.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidateLastNameFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenConnectWithUs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenConnectWithUs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>UserEmailFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>IsAuthenticatedUserFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenConnectWithUs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreferredChannelPicklist</name>
                    <choiceReferences>PreferredChannelChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Preferred Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenConnectWithUs_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenConnectWithUs_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreferredPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Preferred Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenConnectWithUs_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestReasonPicklist</name>
                    <choiceReferences>RequestReasonChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenConnectWithUs_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenConnectWithUs_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionLongText</name>
                    <fieldText>What would you like to talk to us about?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter a question that is at least 4 characters and no more than 32,000 characters in length.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidationDescriptionFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ConsentRequiredCheckbox</name>
                    <choiceReferences>ChoiceConsentRequired</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Consent Required</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The screen used to display a success message.</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>1448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Thank you for submitting your inquiry.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>eduadmissions__InquiryConnect</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenConnectWithUs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>EDU_Cloud_Inquiry_Person_Account_Processing</name>
        <label>EDU Cloud: Inquiry: Person Account Processing</label>
        <locationX>176</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>CreateContactRequest</targetReference>
        </connector>
        <flowName>EDUCloud_Inquiry_Person_Account_Processing</flowName>
        <inputAssignments>
            <name>incomingPersonAccount</name>
            <value>
                <elementReference>personAccountInfo</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>personAccountInfo</assignToReference>
            <name>incomingPersonAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isNewPersonAccount</assignToReference>
            <name>isNewPersonAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>EDUCloud_Inquiry_Academic_Interest_Processing</name>
        <label>EDU Cloud: Inquiry: Academic Interest Processing</label>
        <locationX>176</locationX>
        <locationY>1340</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowName>EDUCloud_Inquiry_Academic_Interest_Processing</flowName>
        <inputAssignments>
            <name>academicInterestTemplate</name>
            <value>
                <elementReference>academicInterestTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incomingPersonAccount</name>
            <value>
                <elementReference>personAccountInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewPersonAccount</name>
            <value>
                <elementReference>isNewPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedLearningProgramIds</name>
            <value>
                <elementReference>selectedLearningProgramIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>A template record for the new Academic Interests that contain the main data populated from the form.</description>
        <name>academicInterestTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcademicInterest</objectType>
    </variables>
    <variables>
        <description>The number of Learning Program Ids extracted from the delimited string.</description>
        <name>extractedLearningProgramIdsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Boolean to set whether or not this is a new Person Account.</description>
        <name>isNewPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The Id of the new Contact Request record.</description>
        <name>newContactRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Person Account details to send to the subflow for matching and updating.</description>
        <name>personAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>A collection that holds the delimited string result for the Learning Program&apos;s Choice Lookup.</description>
        <name>preprocessedSelectedLearningProgramIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Learning Program Ids that the user selected, extracted from the delimited text value.</description>
        <name>selectedLearningProgramIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tracks the left position for the MID formula that extracts a single Learning Program Id. This starts at position 1 and will be incremented by 19 (18 + 1 delimiter) through the total Learning Program Id count.</description>
        <name>selectedLearningProgramStringLeftPosition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
