force-app/main/default/flows/EDUCloud_Inquiry_Submit_an_Inquiry_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add the Learning Program Id extracted from the MID formula to the set of selectedLearningProgramIds.</description>
        <name>ExtractLearningProgramId</name>
        <label>Extract Learning Program Id</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>selectedLearningProgramIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedLearningProgramSubstring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementCounters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increment the number of processed Learning Program Ids and the left position by 19 (18-char Id + semicolon delimiter).</description>
        <name>IncrementCounters</name>
        <label>Increment Counters</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>extractedLearningProgramIdsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedLearningProgramStringLeftPosition</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HasNextLearningProgramId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the values for the Academic Interest Template record that will be passed to the subflow.</description>
        <name>Set_Academic_Interest_Template_Values</name>
        <label>Set Academic Interest Template Values</label>
        <locationX>176</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.AcademicTermId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTermPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personAccountInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personAccountInfo.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>academicInterestTemplate.EducationalInfoRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEducationalInfoRequestId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EDU_Cloud_Inquiry_Academic_Interest_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Person Account values from the form to a record variable.</description>
        <name>SetPersonAccountValues</name>
        <label>Set Person Account Values</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>personAccountInfo.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountInfo.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountInfo.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountInfo.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preprocessedSelectedLearningProgramIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramsSelect.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IteratePreprocessedSelectedLearningPrograms</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The default Subject of the new Case record.</description>
        <name>CaseDefaultSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ask for Help</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decides if there are additional Learning Program Ids to extract based on the current left position and processed Ids count.</description>
        <name>HasNextLearningProgramId</name>
        <label>Has Next Learning Program Id</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>IteratePreprocessedSelectedLearningPrograms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsHasNextLearningProgramId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedLearningProgramsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>extractedLearningProgramIdsCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SelectedLearningProgramsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtractLearningProgramId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>The picklist options for the Academic Level.</description>
        <name>AcademicLevelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AcademicLevel</picklistField>
        <picklistObject>Learning</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The set of Academic Terms to use for the picklist options.</description>
        <name>AcademicTermChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>AcademicTerm</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The picklist options for the Category.</description>
        <name>CategoryChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category</picklistField>
        <picklistObject>EducationalInfoRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The set of Learning Programs to use for the select options.</description>
        <name>LearningProgramChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LearningProgram</object>
        <sortField>ActiveFromDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The picklist options for the Sub-Category.</description>
        <name>SubcategoryChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubCategory</picklistField>
        <picklistObject>EducationalInfoRequest</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Determines if the user is authenticated based on having a ContactId. This assumes an Experience Site users, so update this formula if the flow should run for internal users.</description>
        <name>IsAuthenticatedUserFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!$User.ContactId})), true, false)</expression>
    </formulas>
    <formulas>
        <description>Determines the number of Ids in the delimited string by removing the delimiters then dividing by 18 (the size of one Id).</description>
        <name>SelectedLearningProgramsCount</name>
        <dataType>Number</dataType>
        <expression>FLOOR(LEN(SUBSTITUTE({!ProgramsSelect.selectedChoiceValues}, &quot;;&quot;, &quot;&quot;))/18)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Identifies a single Id substring starting at the indicated left position and counting 18 positions for the length of an Id.</description>
        <name>SelectedLearningProgramSubstring</name>
        <dataType>String</dataType>
        <expression>MID({!IteratePreprocessedSelectedLearningPrograms}, {!selectedLearningProgramStringLeftPosition}, 18)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the screen&apos;s prepopulated Email to the identified user or null for guest users.</description>
        <name>UserEmailFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IsAuthenticatedUserFormula}, {!$User.Email}, null)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the screen&apos;s prepopulated First Name to the identified user or null for guest users.</description>
        <name>UserFirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IsAuthenticatedUserFormula}, {!$User.FirstName}, null)</expression>
    </formulas>
    <formulas>
        <description>Formula to set the screen&apos;s prepopulated Last Name to the identified user or null for guest users.</description>
        <name>UserLastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IsAuthenticatedUserFormula}, {!$User.LastName}, null)</expression>
    </formulas>
    <formulas>
        <description>Validates that the Description is between 4 and 32,000 characters in length.</description>
        <name>ValidationDescriptionFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!DescriptionLongText}) &gt; 4, LEN({!DescriptionLongText}) &lt;= 32000)</expression>
    </formulas>
    <formulas>
        <description>Validates that the First Name is between 2 and 40 characters in length.</description>
        <name>ValidationFirstNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!FirstNameText}) &gt;= 2, LEN({!FirstNameText}) &lt;= 40)</expression>
    </formulas>
    <formulas>
        <description>Validate that the Last Name is between 2 and 80 characters in length.</description>
        <name>ValidationLastNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!LastNameText}) &gt;= 2, LEN({!LastNameText}) &lt;= 80)</expression>
    </formulas>
    <interviewLabel>EDU Cloud: Inquiry: Submit an Inquiry Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Cloud: Inquiry: Submit an Inquiry Form</label>
    <loops>
        <description>Loop through the value from the Choice Lookup that is used to extract the Learning Program Id. Because we have a delimited string and not a collection to iterate, this will only loop once. The actual looping of the Ids is controlled by the Decision and redirection for the Yes path.</description>
        <name>IteratePreprocessedSelectedLearningPrograms</name>
        <label>Iterate Preprocessed Selected Learning Programs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>preprocessedSelectedLearningProgramIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HasNextLearningProgramId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EDU_Cloud_Inquiry_Person_Account_Processing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new Case record that will be associated with the Educational Info Request.</description>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>1124</locationY>
        <assignRecordIdToReference>newCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateEducationalInfoRequest</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>personAccountInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionLongText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseDefaultSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Create an Educational Info Request for Ask for Help.</description>
        <name>CreateEducationalInfoRequest</name>
        <label>Create Educational Info Request</label>
        <locationX>176</locationX>
        <locationY>1232</locationY>
        <assignRecordIdToReference>newEducationalInfoRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Academic_Interest_Template_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <elementReference>CategoryPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CaseDefaultSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>personAccountInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubCategory</field>
            <value>
                <elementReference>SubcategoryPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>EducationalInfoRequest</object>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>The form for a person to submit an inquiry.</description>
        <name>ScreenSubmitAnInquiry</name>
        <label>Submit an Inquiry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetPersonAccountValues</targetReference>
        </connector>
        <fields>
            <name>DisplaySubmitAnInquiry</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Submit an Inquiry&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Let us know how we can help you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequiredInformationDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(186, 5, 23); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; = Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenSubmitAnInquiry_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSubmitAnInquiry_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstNameText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserFirstNameFormula</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsAuthenticatedUserFormula</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The First Name must be between 2 and 40 characters in length.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidationFirstNameFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSubmitAnInquiry_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastNameText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserLastNameFormula</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsAuthenticatedUserFormula</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Last Name must be between 2 and 80 characters in length.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidationLastNameFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenSubmitAnInquiry_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSubmitAnInquiry_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>EmailAddress</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>IsAuthenticatedUserFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>UserEmailFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSubmitAnInquiry_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenSubmitAnInquiry_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSubmitAnInquiry_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CategoryPicklist</name>
                    <choiceReferences>CategoryChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSubmitAnInquiry_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubcategoryPicklist</name>
                    <choiceReferences>SubcategoryChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Subcategory</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenSubmitAnInquiry_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSubmitAnInquiry_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionLongText</name>
                    <fieldText>How can we help you?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter a question that is at least 4 characters and no more than 32,000 characters in length.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidationDescriptionFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenSubmitAnInquiry_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSubmitAnInquiry_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicLevelPicklist</name>
                    <choiceReferences>AcademicLevelChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Academic Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StartTermPicklist</name>
                    <choiceReferences>AcademicTermChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSubmitAnInquiry_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProgramsSelect</name>
                    <choiceReferences>LearningProgramChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Programs</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The screen used to display a success message upon submission.</description>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>1556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Your inquiry has been submitted!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>eduadmissions__InquirySubmit</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenSubmitAnInquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>EDU_Cloud_Inquiry_Academic_Interest_Processing</name>
        <label>EDU Cloud: Inquiry: Academic Interest Processing</label>
        <locationX>176</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowName>EDUCloud_Inquiry_Academic_Interest_Processing</flowName>
        <inputAssignments>
            <name>academicInterestTemplate</name>
            <value>
                <elementReference>academicInterestTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incomingPersonAccount</name>
            <value>
                <elementReference>personAccountInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewPersonAccount</name>
            <value>
                <elementReference>isNewPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedLearningProgramIds</name>
            <value>
                <elementReference>selectedLearningProgramIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>EDU_Cloud_Inquiry_Person_Account_Processing</name>
        <label>EDU Cloud: Inquiry: Person Account Processing</label>
        <locationX>176</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <flowName>EDUCloud_Inquiry_Person_Account_Processing</flowName>
        <inputAssignments>
            <name>incomingPersonAccount</name>
            <value>
                <elementReference>personAccountInfo</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>personAccountInfo</assignToReference>
            <name>incomingPersonAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isNewPersonAccount</assignToReference>
            <name>isNewPersonAccount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>A template record for the new Academic Interests that contain the main data populated from the form.</description>
        <name>academicInterestTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcademicInterest</objectType>
    </variables>
    <variables>
        <description>The number of Learning Program Ids that have been extracted from the delimited string.</description>
        <name>extractedLearningProgramIdsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Boolean to set whether or not this is a new Person Account.</description>
        <name>isNewPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The Id of the new Case record.</description>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the new Educational Info Request.</description>
        <name>newEducationalInfoRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Person Account details to send to the subflow for matching and updating.</description>
        <name>personAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>A collection that holds the delimited string result for the Learning Program&apos;s Choice Lookup.</description>
        <name>preprocessedSelectedLearningProgramIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Learning Program Ids that the user selected, extracted from the delimited text value.</description>
        <name>selectedLearningProgramIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tracks the left position for the MID formula that extracts a single Learning Program Id. This starts at position 1 and will be incremented by 19 (18 + 1 delimiter) through the total Learning Program Id count.</description>
        <name>selectedLearningProgramStringLeftPosition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
