force-app/main/default/flows/EDUCloud_Inquiry_Person_Account_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email to ErrorEmailAddress if there are any missing required fields.</description>
        <name>Email_Error_for_Missing_Required_Fields</name>
        <label>Email Error for Missing Required Fields</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error creating a new Person Account in the Person account Processing subvlow.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Error creating a new Person Account in the Person Account Processing clone due to missing fields.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ErrorEmailAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the Id and PersonContactId for the Incoming Person Account which will be returned as output.</description>
        <name>SetIdsForincomingPersonAccount</name>
        <label>Set Ids for Incoming Person Account</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>incomingPersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Person_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>incomingPersonAccount.PersonContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Person_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the flag to true since this is a new Person Account</description>
        <name>SetisNewPersonAccount</name>
        <label>Set Is New Person Account</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>isNewPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the Mailing Address fields on the Existing Person Account to the values from the Incoming Person Account.</description>
        <name>SetMailingAddress</name>
        <label>Set Mailing Address</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Person_Account.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Person_Account.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Person_Account.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Person_Account.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Person_Account.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shouldUpdatePersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUpdatePersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Person Account record type to the Incoming Person Account record that will be used to create the new record.</description>
        <name>SetPersonAccountRecordType</name>
        <label>Set Person Account Record Type</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>incomingPersonAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Phone on the Existing Person Account to the value from the Incoming Person Account.</description>
        <name>SetPhone</name>
        <label>Set Phone</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Person_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingPersonAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shouldUpdatePersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUpdateMailingAddress</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The email address of the user who should receive email error notifications.</description>
        <name>ErrorEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>example@email.com.invalid</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if the incoming attribute has the First Name, Last Name, and Email fields populated.</description>
        <name>DoesHasNameAndEmail</name>
        <label>Has Name and Email?</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Email_Error_for_Missing_Required_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsHasNameAndEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingPersonAccount.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Record_Type_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a Person Account exists that matches the required email on the form.</description>
        <name>DoesPersonAccountExists</name>
        <label>Does Person Account Exist?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SetPersonAccountRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsPersonAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Person_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the original Mailing Address if it is blank and the incoming address is populated, based on Address Street value.</description>
        <name>IsUpdateMailingAddress</name>
        <label>Update Mailing Address?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>IsUpdatePersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UpdateMailingAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Person_Account.PersonMailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.PersonMailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMailingAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the Existing Person Account if the flag has been set during one of the prior update decisions.</description>
        <name>IsUpdatePersonAccount</name>
        <label>Update Person Account?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>SetIdsForincomingPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UpdatePersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldUpdatePersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExistingPersonAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the phone if the original is blank and the new is populated.</description>
        <name>Update_Phone</name>
        <label>Update Phone?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>IsUpdateMailingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Keep Phone</defaultConnectorLabel>
        <rules>
            <name>Yes_Populate_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Person_Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingPersonAccount.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhone</targetReference>
            </connector>
            <label>Yes, Populate Phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EDU Cloud: Inquiry: Person Account Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Cloud: Inquiry: Person Account Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new Person Account from the Incoming Person Account record.</description>
        <name>CreatePersonAccount</name>
        <label>Create Person Account</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>GetNewPersonAccount</targetReference>
        </connector>
        <inputReference>incomingPersonAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the Person Account associated with the user, matching by email address.</description>
        <name>Get_Existing_Person_Account</name>
        <label>Get Existing Person Account</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesPersonAccountExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingPersonAccount.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonMailingStreet</queriedFields>
        <queriedFields>PersonMailingCity</queriedFields>
        <queriedFields>PersonMailingState</queriedFields>
        <queriedFields>PersonMailingPostalCode</queriedFields>
        <queriedFields>PersonMailingCountry</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Record Type Id associated with Person Account.</description>
        <name>Get_Person_Account_Record_Type_Id</name>
        <label>Get Person Account Record Type Id</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the newly created Person Account with the new ContactId.</description>
        <name>GetNewPersonAccount</name>
        <label>Get New Person Account</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetisNewPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingPersonAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>incomingPersonAccount.PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Existing Person Account with the assigned field changes.</description>
        <name>UpdateExistingPersonAccount</name>
        <label>Update Existing Person Account</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>SetIdsForincomingPersonAccount</targetReference>
        </connector>
        <inputReference>Get_Existing_Person_Account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DoesHasNameAndEmail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Person Account details that are sent as input from the parent flow. This typically will not contain the Person Account Id.</description>
        <name>incomingPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Boolean to set if this is a new Person Account or not.</description>
        <name>isNewPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Used to flag whether or not a pre-existing Person Account was updated across several decisions, so that a single Update Record can be performed.</description>
        <name>shouldUpdatePersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
