force-app/main/default/flows/Mentoring_Match_Mentor_And_Mentee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the current flow stage to ReviewConfirmationStage.</description>
        <name>SetStageToReviewConfirmation</name>
        <label>Set Current Stage to Review Confirmation</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayConfirmationMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the current flow stage to ReviewSelectionAndAssignProviderStage.</description>
        <name>SetStageToReviewSelectionAndAssignProvider</name>
        <label>Set Current Stage to Review Selection and Assign Provider</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewSelectionAndAssignProviderStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayMentorAssignmentPreview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the current flow stage to SelectProviderStage.</description>
        <name>SetStageToSelectProvider</name>
        <label>Set Current Stage to Select a Provider</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectProviderStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayCompareAndAssignMentor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the current flow stage to SelectProvidersToCompareStage.</description>
        <name>SetStageToSelectProvidersToCompare</name>
        <label>Set Current Stage to Select Providers to Compare</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectProvidersToCompareStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBenefitAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether a benefit assignment record was found by checking if the Benefit Assignment from GetBenefitAssignment variable has a value.</description>
        <name>HaveBenefitAssignment</name>
        <label>Have Benefit Assignment?</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayBenefitAssignmentMissingError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasBenefitAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBenefitAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMentoringProfile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a mentoring profile was found by checking if the Mentoring Profile from GetMentoringProfile variable has a value.</description>
        <name>HaveMentoringProfile</name>
        <label>Have Mentoring Profile?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayMentoringProfileMissingError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No(Default)</defaultConnectorLabel>
        <rules>
            <name>HasMentoringProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMentoringProfile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplaySelectMentorsForComparison</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mentoring: Match Mentor And Mentee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mentoring: Match Mentor And Mentee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the first benefit assignment record with an ID that matches the BenefitAssignmentId of the benefit assignment record that triggered the flow. Stores the result in the Benefit Assignment from GetBenefitAssignment record variable.</description>
        <name>GetBenefitAssignment</name>
        <label>Get Benefit Assignment</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveBenefitAssignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayBenefitAssignmentMissingError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BenefitAssignmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the first mentoring profile record with a RelatedRecordId that matches the ProgramEnrollmentId of the benefit assignment record in the Benefit Assignment from GetBenefitAssignment variable. Stores the result in Mentoring Profile from GetMentoringProfile.</description>
        <name>GetMentoringProfile</name>
        <label>Get Mentoring Profile</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveMentoringProfile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayMentoringProfileMissingError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBenefitAssignment.ProgramEnrollmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MentoringProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the first mentoring profile record with an ID that matches the mentoring profile record ID of the selected mentor. Stores the result in the Mentoring Profile from GetMentorMentoringProfile record variable.</description>
        <name>GetMentorMentoringProfile</name>
        <label>Get Mentoring Profile</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateBenefitAssignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUpdateBenefitAssignmentError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CompareAndAssignMentor.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MentoringProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the benefit assignment record with an ID that matches BenefitAssignmentId and sets the provider ID of the record to the contact Id of the record in Mentoring Profile from GetMentorMentoringProfile.</description>
        <name>UpdateBenefitAssignment</name>
        <label>Update Benefit Assignment</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>SetStageToReviewConfirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayUpdateBenefitAssignmentError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BenefitAssignmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProviderId</field>
            <value>
                <elementReference>GetMentorMentoringProfile.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
    </recordUpdates>
    <screens>
        <description>Displays a message to the flow user when the selected provider was assigned.</description>
        <name>DisplayConfirmationMessage</name>
        <label>Display Confirmation Message</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 24px; background-color: transparent;&quot;&gt;The selected provider was assigned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConfirmationMessageScreenProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when the benefit assignment record is missing.</description>
        <name>ScreenDisplayBenefitAssignmentMissingError</name>
        <label>Display Benefit Assignment Missing Error</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoBenefitAssignmentDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 24px; background-color: transparent;&quot;&gt;We couldn’t find the Benefit Assignment record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BenefitAssignmentErrorScreenProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the Compare and Assign Mentor screen that allows the flow user to view comparison information for previously selected mentors and select a mentor to assign to a mentee.</description>
        <name>ScreenDisplayCompareAndAssignMentor</name>
        <label>Display Compare and Assign Mentor</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToReviewSelectionAndAssignProvider</targetReference>
        </connector>
        <fields>
            <name>CompareAndAssignMentor</name>
            <extensionName>mentoring:mentorMatchingComparisonView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>CompareAndAssignMentor.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>menteeMentoringProfileId</name>
                <value>
                    <elementReference>GetMentoringProfile.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mentorMentoringProfileIds</name>
                <value>
                    <elementReference>SelectMentorsForComparison.mentorMentoringProfileIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isNextEnabled</name>
                <value>
                    <elementReference>CompareAndAssignMentor.isNextEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;value&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Name&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:true,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;City&quot;,&quot;value&quot;:&quot;City__c&quot;,&quot;fieldName&quot;:&quot;City__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Industry&quot;,&quot;value&quot;:&quot;Industry__c&quot;,&quot;fieldName&quot;:&quot;Industry__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Previous Mentoring Experience&quot;,&quot;value&quot;:&quot;Previous_Mentoring_Experience__c&quot;,&quot;fieldName&quot;:&quot;Previous_Mentoring_Experience__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Relationship Cycle&quot;,&quot;value&quot;:&quot;Relationship_Cycle__c&quot;,&quot;fieldName&quot;:&quot;Relationship_Cycle__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Support Type&quot;,&quot;value&quot;:&quot;Support_Type__c&quot;,&quot;fieldName&quot;:&quot;Support_Type__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Times Available&quot;,&quot;value&quot;:&quot;Times_Available__c&quot;,&quot;fieldName&quot;:&quot;Times_Available__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Communication Preference&quot;,&quot;value&quot;:&quot;Communication_Preference__c&quot;,&quot;fieldName&quot;:&quot;Communication_Preference__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true},{&quot;label&quot;:&quot;Summary&quot;,&quot;value&quot;:&quot;Summary&quot;,&quot;fieldName&quot;:&quot;Summary&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:false},{&quot;label&quot;:&quot;Other Comments&quot;,&quot;value&quot;:&quot;Other_Comments__c&quot;,&quot;fieldName&quot;:&quot;Other_Comments__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:true}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CompareAndAssignMentorScreenProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <elementReference>CompareAndAssignMentor.isNextEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CompareAndAssignMentor.isNextEnabled</assignToReference>
                <name>canProceed</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a screen that allows the flow user to review their selections before assigning the mentor.</description>
        <name>ScreenDisplayMentorAssignmentPreview</name>
        <label>Display Mentor Assignment Preview</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetMentorMentoringProfile</targetReference>
        </connector>
        <fields>
            <name>MentorAssignmentPreview</name>
            <extensionName>mentoring:mentorMatchingComparisonView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isPreview</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>CompareAndAssignMentor.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>menteeMentoringProfileId</name>
                <value>
                    <elementReference>GetMentoringProfile.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mentorMentoringProfileIds</name>
                <value>
                    <elementReference>SelectMentorsForComparison.mentorMentoringProfileIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isNextEnabled</name>
                <value>
                    <elementReference>CompareAndAssignMentor.isNextEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Name&quot;,&quot;value&quot;:&quot;Name&quot;,&quot;fieldName&quot;:&quot;Name&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:true,&quot;showMatch&quot;:false},{&quot;label&quot;:&quot;Summary&quot;,&quot;value&quot;:&quot;Summary&quot;,&quot;fieldName&quot;:&quot;Summary&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false,&quot;showMatch&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MentorAssignmentPreviewScreenProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <elementReference>CompareAndAssignMentor.isNextEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CompareAndAssignMentor.isNextEnabled</assignToReference>
                <name>canProceed</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when the mentoring profile record is missing.</description>
        <name>ScreenDisplayMentoringProfileMissingError</name>
        <label>Display Mentoring Profile Missing Error</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoMentoringProfileDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 24px; background-color: transparent;&quot;&gt;We couldn’t find the mentoring profile record for the mentee associated with the benefit assignment record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MentoringProfileMissingErrorScreenProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the Select Mentors for Comparison screen that allows the flow user to select up to three mentors to compare for a specified mentee.</description>
        <name>ScreenDisplaySelectMentorsForComparison</name>
        <label>Display Select Mentors for Comparison</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToSelectProvider</targetReference>
        </connector>
        <fields>
            <name>SelectMentorsForComparison</name>
            <extensionName>mentoring:mentorMatchingSelectionView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>benefitAssignmentId</name>
                <value>
                    <elementReference>BenefitAssignmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>menteeMentoringProfileId</name>
                <value>
                    <elementReference>GetMentoringProfile.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isNextEnabled</name>
                <value>
                    <elementReference>SelectMentorsForComparison.isNextEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsConfig</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;City&quot;,&quot;value&quot;:&quot;City__c&quot;,&quot;fieldName&quot;:&quot;City__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Communication Preference&quot;,&quot;value&quot;:&quot;Communication_Preference__c&quot;,&quot;fieldName&quot;:&quot;Communication_Preference__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Industry&quot;,&quot;value&quot;:&quot;Industry__c&quot;,&quot;fieldName&quot;:&quot;Industry__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Previous Mentoring Experience&quot;,&quot;value&quot;:&quot;Previous_Mentoring_Experience__c&quot;,&quot;fieldName&quot;:&quot;Previous_Mentoring_Experience__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Relationship Cycle&quot;,&quot;value&quot;:&quot;Relationship_Cycle__c&quot;,&quot;fieldName&quot;:&quot;Relationship_Cycle__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Support Type&quot;,&quot;value&quot;:&quot;Support_Type__c&quot;,&quot;fieldName&quot;:&quot;Support_Type__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Times Available&quot;,&quot;value&quot;:&quot;Times_Available__c&quot;,&quot;fieldName&quot;:&quot;Times_Available__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false},{&quot;label&quot;:&quot;Other Comments&quot;,&quot;value&quot;:&quot;Other_Comments__c&quot;,&quot;fieldName&quot;:&quot;Other_Comments__c&quot;,&quot;dataType&quot;:&quot;text&quot;,&quot;isNameField&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mentorMentoringProfileIds</name>
                <value>
                    <elementReference>SelectMentorsForComparison.mentorMentoringProfileIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectMentorsForComparisonScreenProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <elementReference>SelectMentorsForComparison.isNextEnabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectMentorsForComparison.isNextEnabled</assignToReference>
                <name>canProceed</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there’s an error updating the record.</description>
        <name>ScreenDisplayUpdateBenefitAssignmentError</name>
        <label>Display Error</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorUpdateBenefitAssignmentDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 24px;&quot;&gt;Something went wrong and we couldn&apos;t update the benefit assignment record.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdateBenefitAssignmentErrorProviderStageProgressIndicator</name>
            <extensionName>mentoring:customFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canProceed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>mentoring__MatchMentorAndMentee</sourceTemplate>
    <stages>
        <description>Stores the label and order for the stage where the user reviews the confirmation. This label appears on the progress bar when a user runs this flow.</description>
        <name>ReviewConfirmationStage</name>
        <isActive>true</isActive>
        <label>Review Confirmation</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and order for the stage where the user reviews their selection and assigns a provider. This label appears on the progress bar when a user runs this flow.</description>
        <name>ReviewSelectionAndAssignProviderStage</name>
        <isActive>true</isActive>
        <label>Review Selection and Assign Provider</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and order for the stage where the user selects a provider. This label appears on the progress bar when a user runs this flow.</description>
        <name>SelectProviderStage</name>
        <isActive>true</isActive>
        <label>Select Provider</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and order for the stage where the user selects providers to compare. This label appears on the progress bar when a user runs this flow.</description>
        <name>SelectProvidersToCompareStage</name>
        <isActive>true</isActive>
        <label>Select Providers to Compare</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetStageToSelectProvidersToCompare</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID of the benefit assignment record that triggered the flow.</description>
        <name>BenefitAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
