force-app/main/default/flows/Mentoring_Create_Mentor_Enrollment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether Constituent Role from GetConstituentRole contains a record.</description>
        <name>DoesMentorConstituentRolesExist</name>
        <label>Does Mentor Constituent Role Exist?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CreateConstituentRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HaveConstituentRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetConstituentRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the benefit type category of the record that triggered the flow is Mentoring.</description>
        <name>IsBenefitTypeCategoryMentoring</name>
        <label>Is Benefit Type Category Mentoring?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsMentoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mentoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConstituentRole</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mentoring: Create Mentor Enrollment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mentoring: Create Mentor Enrollment Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a constituent role record, setting EffectiveStartDate to the date that the flow runs, PersonId to the contact ID of the record that triggered the flow, RoleType to Mentor, and Status to Active.</description>
        <name>CreateConstituentRole</name>
        <label>Create Constituent Role</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoleType</field>
            <value>
                <stringValue>Mentor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ConstituentRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the non-former constituent role record with a person ID that matches the contact ID of the record that triggered the flow and a role type of Mentor. Stores the result in the Constituent Role from GetConstituentRole record variable.</description>
        <name>GetConstituentRole</name>
        <label>Get Constituent Role</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesMentorConstituentRolesExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mentor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConstituentRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>mentoring__CreateMentorEnrollmentRec</sourceTemplate>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBenefitTypeCategoryMentoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BenefitId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProviderOffering</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
