force-app/main/default/flows/Update_Planned_Gift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether the planned gift was updated by checking if the value of the plannedGiftUpdate variable is true.</description>
        <name>HaveUpdatedPlannedGift</name>
        <label>Have Updated Planned Gift?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayPlannedGiftNotUpdatedMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasUpdatedPlannedGift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatePlannedGiftValues.isPlannedGiftUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayPlannedGiftUpdatedMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Planned Gift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Planned Gift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Displays a message to the flow user when the planned gift isn’t updated.</description>
        <name>ScreenDisplayPlannedGiftNotUpdatedMessage</name>
        <label>Display Planned Gift Not Updated Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PlannedGiftNotUpdatedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;The planned gift wasn&apos;t updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the flow user when the planned gift is successfully updated.</description>
        <name>ScreenDisplayPlannedGiftUpdatedMessage</name>
        <label>Display Planned Gift Updated Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PlannedGiftUpdatedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;The planned gift was updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>plndgiving__UpdatePlannedGift</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdatePlannedGiftValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a flow that updates the deferred future value, future value, and present value of a planned gift. Returns a Boolean that indicates whether the planned gift was updated.</description>
        <name>UpdatePlannedGiftValues</name>
        <label>Update Planned Gift Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveUpdatedPlannedGift</targetReference>
        </connector>
        <flowName>plndgiving__UpdatePlannedGiftValues</flowName>
        <inputAssignments>
            <name>plannedGiftId</name>
            <value>
                <elementReference>plannedGiftId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Stores the ID of the planned gift that was passed into the flow.</description>
        <name>plannedGiftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
